# This workflow will install Python dependencies and run tests

name: test

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[test]"
    - name: Run tests
      run: |
        pytest --color=yes --doctest-modules --cov=ibex_vis --cov-report xml:coverage.xml
      working-directory: test
    - name: Get Coverage
      uses: orgoro/coverage@v3.2
      continue-on-error: true
      with:
        coverageFile: test/coverage.xml
        token: ${{ secrets.GITHUB_TOKEN }}
